/*************
 ! Base states
 *************/

* {
  -GtkWindow-resize-grip-height: 0;
  -GtkWindow-resize-grip-width: 0;
  -WnckTasklist-fade-overlay-rect: 0;

  -GtkWidget-cursor-color: $caret_color;
  -GtkWidget-secondary-cursor-color: $caret_color;

  -gtk-icon-shadow: none;
  box-shadow: none;
  text-shadow: none;

  -gtk-outline-radius: 0;
  outline: none;

  border-radius: 0;
  border: none;

  &:backdrop { -gtk-icon-effect: dim; }

  &:hover, &:focus { -gtk-icon-effect: highlight; }

  &:focus:not(:hover) {
    outline-color: $outline_color;
    outline-style: solid;
    outline-offset: 2px;
    outline-width: 1px;
  }

  &:link {
    color: rgba($link_color, $opacity);

    label { text-decoration-line: none; }

    &:backdrop { color: rgba($link_color, $backdrop_opacity); }

    &:hover, &:focus {
      color: rgba($link_color, $opacity);

      label { text-decoration-line: underline; }
    }
  }

  &:visited {
    color: rgba($visited_color, $opacity);

    label { text-decoration-line: none; }

    &:backdrop { color: rgba($visited_color, $backdrop_opacity); }

    &:hover, &:focus {
      color: rgba($visited_color, $opacity);

      label { text-decoration-line: underline; }
    }
  }

  &:disabled, &:insensitive {
    background: none;
    color: rgba($disabled_color, $opacity);

    &:backdrop {
      background: none;
      color: rgba($disabled_color, $backdrop_opacity);
    }
  }

/*
  &:indeterminate {
    color: rgba($disabled_color, $opacity);

    &:backdrop { color: rgba($disabled_color, $backdrop_opacity); }
  }
  */
}

.background {
  background-color: rgba($bg_color, $opacity);
  color: rgba($fg_color, $opacity);

  &:backdrop {
    background-color: rgba($bg_color, $backdrop_opacity);
    color: rgba($fg_color, $backdrop_opacity);
  }
}

assistant {
  .sidebar {
    background-color: rgba($base_color, $opacity);

    &:backdrop { background-color: rgba($base_color, $backdrop_opacity); }
  }

  .sidebar label.highlight {
    background-color: rgba($assistant_color, $opacity);
    color: rgba($selected_fg_color, $opacity);

    &:backdrop {
      background-color: rgba($assistant_color, $backdrop_opacity);
      color: rgba($selected_fg_color, $backdrop_opacity);
    }
  }
}

image, label, box, grid { background: none; }