/*********
 ! Buttons
**********/

button {
  padding: $button_padding;

  background-color: rgba($button_bg_color, $opacity);
  color: rgba($button_fg_color, $opacity);

  &:backdrop {
    background-color: rgba($button_bg_color, $backdrop_opacity);
    color: rgba($button_fg_color, $backdrop_opacity);
  }

  &.flat {
    background: none;

    &:active:not(:hover):not(:focus) {
      background: none;
      color: rgba($button_selected_bg_color, $opacity);

      &:backdrop { color: rgba($button_selected_bg_color, $backdrop_opacity); }
    }

    &:hover:not(.link):not(.visited):not(:disabled), &:focus:not(.link):not(.visited):not(:disabled) { color: rgba($button_hover_fg_color, $opacity); }
  }

  &.suggested-action {
    background-color: rgba($button_suggested_color, $opacity);
    color: rgba($button_selected_fg_color, $opacity);

    &:backdrop {
      background-color: rgba($button_suggested_color, $backdrop_opacity);
      color: rgba($button_selected_fg_color, $backdrop_opacity);
    }

    &:hover, &:focus {
      background-color: rgba($button_hover_bg_color, $opacity);
      color: rgba($button_suggested_color, $opacity);
    }
  }

  &.needs-attention {
    background-color: rgba($button_attention_color, $opacity);
    color: rgba($button_selected_fg_color, $opacity);

    &:backdrop {
      background-color: rgba($button_attention_color, $backdrop_opacity);
      color: rgba($button_selected_fg_color, $backdrop_opacity);
    }

    &:hover, &:focus {
      background-color: rgba($button_hover_bg_color, $opacity);
      color: rgba($button_attention_color, $opacity);
    }
  }

  &.destructive-action {
    background-color: rgba($button_destructive_color, $opacity);
    color: rgba($button_selected_fg_color, $opacity);

    &:backdrop {
      background-color: rgba($button_destructive_color, $backdrop_opacity);
      color: rgba($button_selected_fg_color, $backdrop_opacity);
    }

    &:hover, &:focus {
      background-color: rgba($button_hover_bg_color, $opacity);
      color: rgba($button_destructive_color, $opacity);
    }
  }

  &:checked {
    background-color: rgba($button_selected_bg_color, $opacity);
    color: rgba($button_selected_fg_color, $opacity);

    &:backdrop {
      background-color: rgba($button_selected_bg_color, $backdrop_opacity);
      color: rgba($button_selected_fg_color, $backdrop_opacity);
    }

    &:hover, &:focus {
      background-color: rgba($button_hover_bg_color, $opacity);
      color: rgba($button_selected_bg_color, $opacity);
    }
  }

  &:active:not(:hover):not(:focus) {
    background-color: rgba($button_selected_bg_color, $opacity);
    color: rgba($button_selected_fg_color, $opacity);

    &:backdrop {
      background-color: rgba($button_selected_bg_color, $backdrop_opacity);
      color: rgba($button_selected_fg_color, $backdrop_opacity);
    }
  }

  &:hover:not(.combo):not(.flat):not(.link):not(.visited):not(:disabled), &:focus:not(.combo):not(.flat):not(.link):not(.visited):not(:disabled) { background-color: rgba($button_hover_bg_color, $opacity); }
}

combobox {
  button.combo {
      background-color: rgba($combobox_bg_color, $opacity);
      color: rgba($combobox_fg_color, $opacity);

      &:backdrop {
        background-color: rgba($combobox_bg_color, $backdrop_opacity);
        color: rgba($combobox_fg_color, $backdrop_opacity);
      }

      &:hover, &:focus {
        background-color: rgba($combobox_bg_color, $opacity);
        color: rgba($combobox_hover_fg_color, $opacity);
      }
  }

  menu menuitem {
    background-color: rgba($combobox_bg_color, $opacity);
    color: rgba($combobox_fg_color, $opacity);

    &:hover {
      background-color: rgba($combobox_hover_bg_color, $layer_opacity);
      color: rgba($combobox_hover_fg_color, $opacity);
    }
  }
}