/*********
 ! Buttons
**********/

button {
  background-color: rgba($button_bg_color, $opacity);
  color: rgba($button_fg_color, $opacity);

  &:hover, &:focus { background-color: rgba($button_hover_bg_color, $opacity); }

  &:backdrop {
    background-color: rgba($button_bg_color, $backdrop_opacity);
    color: rgba($button_fg_color, $backdrop_opacity);
  }

  &.flat {
    background: none;

    &:hover:not(.link):not(.visited), &:focus:not(.link):not(.visited) { color: rgba($button_hover_fg_color, $opacity); }

     &:active:not(:hover):not(:focus) {
      color: rgba($button_selected_bg_color, $opacity);

      &:backdrop { color: rgba($button_selected_bg_color, $backdrop_opacity); }
    }
  }

  &.suggested-action {
    background-color: rgba($button_suggested_color, $opacity);
    color: rgba($button_selected_fg_color, $opacity);

    &:backdrop {
      background-color: rgba($button_suggested_color, $backdrop_opacity);
      color: rgba($button_selected_fg_color, $backdrop_opacity);
    }
  }

  &.needs-attention {
    background-color: rgba($button_attention_color, $opacity);
    color: rgba($button_selected_fg_color, $opacity);

    &:backdrop {
      background-color: rgba($button_attention_color, $backdrop_opacity);
      color: rgba($button_selected_fg_color, $backdrop_opacity);
    }
  }

  &.destructive-action {
    background-color: rgba($button_destructive_color, $opacity);
    color: rgba($button_selected_fg_color, $opacity);

    &:backdrop {
      background-color: rgba($button_destructive_color, $backdrop_opacity);
      color: rgba($button_selected_fg_color, $backdrop_opacity);
    }
  }

  &:checked, &:active:not(.flat):not(:hover):not(:focus) {
    background-color: rgba($button_selected_bg_color, $opacity);
    color: rgba($button_selected_fg_color, $opacity);

    &:backdrop {
      background-color: rgba($button_selected_bg_color, $backdrop_opacity);
      color: rgba($button_selected_fg_color, $backdrop_opacity);
    }
  }
}