/*********
 ! Infobar
**********/

infobar {
  background-color: rgba($infobar_bg_color, $opacity);
  color: rgba($infobar_fg_color, $opacity);

  &:backdrop {
    background-color: rgba($infobar_bg_color, $backdrop_opacity);
    color: rgba($infobar_fg_color, $backdrop_opacity);
  }

  $types: (
    info: ($infobar_info_color),
    warning: ($infobar_warning_color),
    error: ($infobar_error_color),
    question: ($infobar_question_color),
  );

  @each $type, $infobar_type_color in $types {
    &.#{$type} {
      color: rgba($infobar_type_color, $opacity);

      &:backdrop { color: rgba($infobar_type_color, $backdrop_opacity); }
    }
  }
}