//nord colors
$nord0: #2e3440;
$nord1: #3b4252;
$nord2: #434c5e;
$nord3: #4c566a;
$nord4: #d8dee9;
$nord5: #e5e9f0;
$nord6: #eceff4;
$nord7: #8fbcbb;
$nord8: #88c0d0;
$nord9: #81a1c1;
$nord10: #5e81ac;
$nord11: #bf616a;
$nord12: #d08770;
$nord13: #ebcb8b;
$nord14: #a3be8c;
$nord15: #b48ead;

//options
$opacity: 1;
$backdrop_opacity: .8;
$layer_opacity: .6;
$padding: 2px;

//base colors
$caret_color: $nord4;
$outline_color: $nord1;
$borders_color: $nord1;
$base_color: $nord1;
$bg_color: $nord0;
$fg_color: $nord4;

$disabled_color: $nord3;
$hover_bg_color: $nord1;
$hover_fg_color: $nord5;

$selected_bg_color: $nord8;
$selected_fg_color: $nord0;

$link_color: $nord8;
$visited_color: $nord15;
$attention_color: $nord13;
$assistant_color: $nord7;

//button
$button_padding: 1px 2px;
$button_bg_color: $nord2;
$button_fg_color: $nord4;
$button_hover_bg_color: $nord3;
$button_hover_fg_color: $nord5;
$button_selected_bg_color: $nord8;
$button_selected_fg_color: $nord0;
$button_suggested_color: $nord9;
$button_attention_color: $nord13;
$button_destructive_color: $nord11;

//combobox
$combobox_bg_color: $nord1;
$combobox_fg_color: $nord4;
$combobox_hover_bg_color: $nord8;
$combobox_hover_fg_color: $nord6;

//entry
$entry_bg_color: $nord1;

//spinner
$spinner_color: $nord8;

//view
$view_bg_color: $nord1;
$view_fg_color: $nord4;
$textview_bg_color: $nord0;
$textview_fg_color: $nord4;
$textview_error_color: $nord11;